<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css"  href="{{ url_for('static', filename='styles_onboarding.css') }}" />
    <!-- <link rel="stylesheet" type="text/css"  href="../static/styles_onboarding.css" /> -->

    <title>Document</title>
  </head>
  <div class="container">
    <div class="header">
      <img class="logo" src="../static/ikea_logo_small.png" alt="IKEA Logo" />
      <a href="https://www.ikea.com" class="shopping-link">
        Shopping
        <img src="../static/shopping_cart_icon.png" alt="Shopping Cart" />
      </a>
    </div>
    
    <div class="dream-space">
      Your dream space is just a few clicks away!
    </div>

    <div class="content">
      <div class="content-text">
        <div class="text-box">
          <span class="step-text">Step 1: Envision Your Dream Space</span>
          <ul class="description-text">
            <li>What type of room is it? (Kitchen, bedroom, etc.)</li>
            <li>Describe its style (Classic, minimalistic, etc.)</li>
            <li>Can you specify the furniture you envision?</li>
          </ul>
          <span class="step-text">Step 2: Input Your Ideas and Click the Magic Wand</span>
          <span class="step-text">Step 3: Behold Your Dream Room</span>
          <ul class="description-text">
            <li>Explore the dream room visualized with IKEA's help.</li>
            <li>Turn your vision into reality by clicking the shopping button to purchase the featured furniture.</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="input-field">
      <!-- <form action="/result" method="POST"> -->
      <form id="dreamForm" action="/result" method="POST">
      <div class="input-container">
        <div class="input-wrapper">
          <!-- <form action="/onboarding" method="POST"> -->
            <input type="text" name = "prompt" class="input-text" placeholder="Input your dream room here..." />
          </div>
        </div>
        <!-- <form action="/result" method="POST"> -->
          <div class="button-container">
            <div class="button-wrapper" type="submit">
                <img class="button-icon" src="../static/magic.png" alt="Magic Wand" />
            </div>
          </div>
      </form>
    </div>
    <script>
      const form = document.getElementById('dreamForm');
      
      form.addEventListener('submit', function(e) {
        e.preventDefault();
        form.submit();
      });
      </script>
    <!-- <form action="/result" method="POST">
      <button type="submit">hEHEHE</button> -->
      <!-- <script>
        const button = document.querySelector('.button-container');
        const form = document.querySelector('form');
      
        // button.addEventListener('click', function() {
        // // form.submit();
        // form.onclick();
        button.addEventListener('click', function(event) {
        event.preventDefault();
        // window.location.href = "/result", medthod = "POST";

        }); -->
      <!-- </script> -->
    <!-- </form> -->
</body>

</html>

<!-- <form id="dreamForm" action="/result" method="POST">

  <input 
    type="text" 
    name="prompt"
    class="input-text" 
    placeholder="Input your dream room here..."
  >

  <div class="button-container">
    <button type="submit">
      Submit
    </button>
  </div>

</form> -->

<!-- <script>
const form = document.getElementById('dreamForm');

form.addEventListener('submit', function(e) {
  e.preventDefault();
  form.submit();
});
</script> -->